.Button
{
    background: #000000;
    color: #ffffff;
    font-size: 22px;
    font-family: Calibri;
    padding: 6px 30px;
    border-bottom: 3px solid #000000;
    border: none;
    border-radius: 5px;
}

.SignUpButton
{
    background: #ff0000;
    color: #ffffff;
    font-size: 22px;
    font-family: Calibri;
    padding: 6px 30px;
    border-bottom: 3px solid #000000;
    border: none;
    border-radius: 5px;
}